POSTGRES_HOST=judge0-db
POSTGRES_PORT=5432
POSTGRES_USER=judge0
POSTGRES_PASSWORD=change-me-judge0-postgres
POSTGRES_DB=judge0

REDIS_HOST=judge0-redis
REDIS_PORT=6379
REDIS_PASSWORD=change-me-judge0-redis

JUDGE0_TELEMETRY_ENABLE=false
ENABLE_WAIT_RESULT=true
ENABLE_COMPILER_OPTIONS=false
ENABLE_COMMAND_LINE_ARGUMENTS=false
ENABLE_SUBMISSION_DELETE=false
ALLOW_ENABLE_NETWORK=false
ENABLE_NETWORK=false

CPU_TIME_LIMIT=2
MAX_CPU_TIME_LIMIT=15
CPU_EXTRA_TIME=0.5
MAX_CPU_EXTRA_TIME=2
WALL_TIME_LIMIT=5
MAX_WALL_TIME_LIMIT=20
MEMORY_LIMIT=128000
MAX_MEMORY_LIMIT=256000
STACK_LIMIT=64000
MAX_STACK_LIMIT=128000
MAX_FILE_SIZE=1024
MAX_MAX_FILE_SIZE=4096
